@mixin button-style($bg) {
  background-color: $bg;
  color: $primary__text;
  padding: $indent__small $indent__m;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($bg, 10%);
  }
}

@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  gap: $indent__base;
}

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: $bp-tablet) {
      @content;
    }
  }
}
