@import "../styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@400..900&display=swap');

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $primary__bg;
  color: $primary__text;
  $font-radio: 'Radio Canada Big', sans-serif;
  padding: $indent__small;
  margin: 0;
}

main {
  flex: 1;
  width: 100%;
}
